<br>
<div class="jumbotron text-center">
  <h1>Web programming Quiz Game Project</h1>
  <p class="lead">Welcome to my quiz game written for Webprogramming class</p>
  <p> Author : Simon Norbert <br> ID: snim1671 <br> Group: 524 <br> Second Year Computer Science<p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>About</h3>
    <p>This application is a quiz game based on general knowledge questions from different themes.</p>
  </div>
  <div class="col-md-4">
    <h3>Implementation</h3>
    <p>Implemented with MEAN stack which stands for (MongoDB, Express, Angular, NodeJs)</p>
  </div>
  <div class="col-md-4">
    <h3>Goals</h3>
    <p>Finishing my last exam <br> And having fun learning new things of course.</p>
  </div>
</div>
